extends layout

block content
  a-scene(cursor='rayOrigin: mouse' raycaster="objects: .raycastable" inspector="url: https://cdn.jsdelivr.net/gh/aframevr/aframe-inspector@master/dist/aframe-inspector.min.js")
    a-camera(position='0 1.5 5')
    a-entity(environment="preset: tron;")
    a-box(
      class='abox raycastable'
      color='red'
      mycomponent
    )

    a-entity(gltf-model="models/car/scene.gltf" position='-2 0.58 5')

